.Conatiner{
  min-height: 100vh;
}

.card{
  height:250px;
  width: 250px;
  border:2px solid black;
  border-radius: 10px;
  margin:10px;
  padding:10px;
  font-family: sans-serif;
  overflow: hidden;
}

.image img{
    width: 60%;
    margin-left: 50px;
}
.head{
    font-size: 14px;
}
.desc{
    font-size: 14px;
}

.Cont{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.btn-cont{
  margin-left:calc(100vw - 750px);
  margin-top: 10px;
  padding: 10px;
}